.hero--card {
  border-radius: 30px;
  /* transform: scale(2rem); */
  width: 85%;
  height: 560px;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
}

.hero--card::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--clr-neutral-400);
  opacity: 0.4;
  border-radius: inherit;
}

.hero--card img {
  display: block;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  border-radius: inherit;
}

.hero--card .hero--text {
  position: absolute;
  bottom: 10%;
  left: 40px;
  color: var(--clr-neutral-100);
}

.hero--text p {
  font-size: 1.2rem;
  margin-top: 5px;
  width: 80%;
}

.no-img {
  height: 300px;
}

.no-img .custom-text {
  color: var(--clr-neutral-900);
}

.no-img .custom-text p {
  width: 100%;
}
