.details {
  display: grid;
  width: 85%;
  margin: 50px auto 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10rem;
  gap: 15px;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.details--card {
  background-color: var(--clr-neutral-200);
  border-radius: 25px;
}

.details--card p {
  margin-top: 10px;
  word-spacing: 0.1rem;
}

.details--card p a {
  display: inline-block;
}

span.details--card {
  padding: 30px;
}

.details div {
  display: flex;
  gap: 15px;
}

.details div span {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details div span p {
  margin: 10px 0;
}

.icon {
  width: 40px;
}

.load {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
}

.loader {
  --d: 50px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  color: #25b09b;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}
