.place--container {
  width: 85%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.place--container:not(:last-child) {
  border-bottom: 1px solid var(--clr-neutral-300);
}

.place-digit {
  display: flex;
  font-size: 18px;
  justify-content: flex-start;
}

.place--container h2 {
  width: 100%;
}

.first-dest {
  margin-top: 50px;
}
