.footer--container {
  background-color: var(--clr-neutral-300);
  margin-top: 50px;
}

.footer {
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 20px;
}

.links img {
  display: inline-block;
  cursor: pointer;
  width: 30px;
}
